<mat-toolbar [class.guided]="isGuidedActive"color="primary" style="height: 7%">
  <button *ngIf="!isGuidedActive" mat-icon-button class="example-icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span *ngIf="!isGuidedActive" [routerLink]="'/home'" style="cursor: pointer"> Build Your Own Computer</span>

  <button *ngIf="isGuidedActive" mat-icon-button class="example-icon" >
    <mat-icon>tour</mat-icon>
  </button>
  <span *ngIf="isGuidedActive" >
 Guided Experience Mode Activated</span>


  <button [routerLink]="'/home'" (click)="deactivateGuided()" style="margin-left: 16px; font-size: 16px" *ngIf="isGuidedActive" mat-flat-button color="primary">Deactivate</button>
  <button [routerLink]="'/home'" (click)="howToUse()" style="margin-left: 16px; font-size: 18px; color: rgb(63, 81, 181, 1);" *ngIf="!isGuidedActive" mat-flat-button >How To Use</button>


  <span class="example-spacer"></span>


  <button mat-icon-button class="example-icon" >
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" >
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
