<div *ngIf="!data.isFinished && !askQuestion">
<h1 class="guided-dialog-title" mat-dialog-title >Welcome to The Guided Experience Mode</h1>

<mat-dialog-content class="mat-typography guided-dialog-content">
  <h3 style="font-weight: bold">Step By Step</h3>
  <p>When the guided experience mode is active, you gain access to the following helper:</p>
  <img src="../../assets/images/router.png" alt="router">
  <p>It's purpose is to guide you through all the steps of building your own computer in best possible order.</p>

  <h3 style="font-weight: bold">Personalization</h3>
  <p>During the guided experience, you might be asked questions that will help us define the best route  <br> for you to build your computer, giving you the best personalized experience.</p>

  <h3 style="font-weight: bold">Where would you like to start?</h3>
  <mat-radio-group
    class="example-radio-group"
    [(ngModel)]="selectedSection">
    <mat-radio-button  class="example-radio-button" *ngFor="let section of SECTION_DATA | keyvalue" [value]="section.key">
      {{section.value}}
    </mat-radio-button>
  </mat-radio-group>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button style="font-size: 16px" mat-button mat-dialog-close>CANCEL</button>
  <button style="font-size: 16px" (click)="start()" mat-raised-button color="accent" [mat-dialog-close]="true" >START </button>
</mat-dialog-actions>
</div>


<div *ngIf="data.isFinished">
  <h1 class="guided-dialog-title" mat-dialog-title > You Completed the Guided Experience! Congratulations!</h1>
  <mat-dialog-content class="mat-typography guided-dialog-content">

    <p style="margin-bottom: 16px;">We hope you have been able to build your own computer!</p>
    <button [routerLink]="['/home']" style="font-size: 16px; margin: auto; display: block;" mat-raised-button color="primary" [mat-dialog-close]="true" >Return to Home</button>
  </mat-dialog-content>
</div>


<div *ngIf="!data.isFinished && askQuestion">
  <mat-dialog-content class="mat-typography guided-dialog-content">
  <h1 class="guided-dialog-title" mat-dialog-title > Would like to try the Guided Experience Mode?</h1>
  <p style="margin-bottom: 16px;">The Guided Experience Mode is a personalized, step-by-step best way to best utilize our website.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button style="font-size: 16px" mat-button mat-dialog-close >NO</button>
    <button style="font-size: 16px"  mat-raised-button color="accent" (click)="startDialog()">YES </button>
  </mat-dialog-actions>
</div>



