.guided-dialog-title {
  font-size: 24px;
  color: rgb(255, 64, 129, 1);
}

.guided-dialog-content {
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }

  img {
    margin: 32px auto 16px auto;
    display: block;
  }
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
  font-size: 18px;
}

.example-radio-button {
  margin: 5px;
}
