.guided-dialog-title {
  font-size: 24px;
  color: rgb(255, 64, 129, 1);
}

.guided-dialog-content {
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }

  img {
    margin: 32px auto 16px auto;
    display: block;
  }
}
