<div >
  <h1 class="guided-dialog-title" mat-dialog-title >How to use BYOC: A Guided Road Map</h1>

  <mat-dialog-content class="mat-typography guided-dialog-content">
    <iframe  style="margin:24px 8px 24px 8px" title="video"  width="600" height="400" src="https://www.youtube.com/embed/nyDxrTHDjXQ"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button style="font-size: 16px;" mat-button [routerLink]="['/']" mat-raised-button color="primary">Start Learning</button>
  </mat-dialog-actions>
</div>




