<app-byoc-toolbar></app-byoc-toolbar>

<div class="app">

  <div class="app__search-bar-container">
    <app-byoc-search-bar></app-byoc-search-bar>
  </div>

  <div class="app__sections-container">

    <div class="app__sections-container__section">


      <mat-card class="app__sections-container__card">
        <mat-card-title-group>
          <mat-card-title>1. Choosing Parts</mat-card-title>
          <mat-card-subtitle> Function and compatability</mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="app__sections-container__list">
            <li>Case</li>
            <li>Motherboard</li>
            <li>CPU</li>
            <li>RAM Memory</li>
            <li>Cooler</li>
          </ul>
          <ul class="app__sections-container__list">
            <li>HD e SSD</li>
            <li>Power Supply</li>
            <li>Graphics Card</li>
            <li>Peripheral Devices</li>
            <li>Monitor</li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="app__sections-container__card">
        <mat-card-title-group>
          <mat-card-title>2. Buying Parts</mat-card-title>
          <mat-card-subtitle>Pricing and tips </mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="app__sections-container__list">
            <li>Prices</li>
            <li>Stores</li>
            <li>Tips</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="app__sections-container__section">

      <mat-card class="app__sections-container__card">
        <mat-card-title-group>
          <mat-card-title>3. Building </mat-card-title>
          <mat-card-subtitle>Installation and construction</mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="app__sections-container__list">
            <li>Motherboard</li>
            <li>CPU</li>
            <li>RAM Memory</li>
            <li>Cooler</li>
            <li>Power Supply</li>
          </ul>
          <ul class="app__sections-container__list">
            <li>HD and SSD</li>
            <li>Graphics Card</li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="app__sections-container__card">
        <mat-card-title-group>
          <mat-card-title>4. Post Built</mat-card-title>
          <mat-card-subtitle>Software, operational systems and drivers.</mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="app__sections-container__list">
            <li>Windows</li>
            <li>Linux</li>
            <li>Drivers</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
