<byoc-toolbar (isSidebarOpenEvent)="setIsSidebarOpen($event)"></byoc-toolbar>

<mat-drawer-container class="content">
  <mat-drawer class="sidebar" mode="side" [opened]="isSidebarOpen">
    <mat-nav-list style="padding: 0">
    <mat-divider ></mat-divider>
    <a  mat-list-item class="guided-experience-button"><mat-icon style="margin-right: 10px">tour</mat-icon> Guided Experience</a>
    </mat-nav-list>

    <mat-nav-list *ngFor="let section of SECTION_DATA | keyvalue" style="padding: 0">
      <mat-divider ></mat-divider>
      <a mat-list-item routerLink="/section/{{section.key}}/subsection/1">{{section.key}}. {{section.value}}</a>
    </mat-nav-list>
    <mat-divider ></mat-divider>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

