<byoc-toolbar (isSidebarOpenEvent)="setIsSidebarOpen($event)"></byoc-toolbar>

<mat-drawer-container class="content" >
  <mat-drawer class="sidebar" mode="side" [opened]="isSidebarOpen && !isGuidedActive">

    <mat-nav-list style="padding: 0">
      <mat-divider ></mat-divider>
      <a  (click)="activateGuided()" mat-list-item class="guided-experience-list-item"><mat-icon style="margin-right: 10px">tour</mat-icon> Guided Experience</a>
      <mat-divider ></mat-divider>
      <a  mat-list-item routerLink="/"><mat-icon style="margin-right: 10px">home</mat-icon> Home</a>
    </mat-nav-list>

    <mat-nav-list *ngFor="let section of SECTION_DATA | keyvalue" style="padding: 0">
      <mat-divider ></mat-divider>
      <a  (click)="toggleSection(section.key)" mat-list-item>{{section.key}}. {{section.value}} <mat-icon *ngIf="sectionIsActive.get(section.key)" style="margin-left: auto; color: white">expand_less</mat-icon> <mat-icon *ngIf="!sectionIsActive.get(section.key)" style="margin-left: auto; color: white">expand_more</mat-icon></a>
      <mat-divider ></mat-divider>
      <div
           *ngFor="let subsection of getSubsections(section.key)">
        <a  mat-list-item (click)="goToSubsection(subsection.key || '')">•&nbsp;&nbsp;{{subsection.name}} </a>
        <mat-divider ></mat-divider>
      </div>

    </mat-nav-list>
    <mat-divider ></mat-divider>
  </mat-drawer>
  <router-outlet ></router-outlet>
</mat-drawer-container>

<button *ngIf="!isGuidedActive" (click)="activateGuided()" class="guided-experience-float-button" mat-fab color="accent" >
  <mat-icon class="guided-experience-float-button__icon">tour</mat-icon>
</button>
