<div class="subsection">
 <h1  class="subsection__title"> {{subsectionNumber}}. {{subsection.name}}: {{section}}</h1>


  <div class="subsection__paragraph"*ngFor="let paragraph of subsection.paragraphs">
    <h2>{{paragraph.title}}</h2>
    <p>{{paragraph.text}}</p>
    <img  *ngIf="paragraph.image" src="{{paragraph.image}}">
  </div>

  <div class="subsection__footer">
    <h2>Recommended Videos</h2>
    <iframe *ngFor="let video of subsection.videos" title="video"  width="600" height="400" [src]="video | safe"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>References</h2>
    <ul>
      <li *ngFor="let reference of subsection.references"><a [href]="reference">{{reference}}</a></li>
    </ul>

    <div class="subsection__navigation">
      <mat-icon (click)="goToPreviousSubsection()"[class.subsection__navigation__icon__disabled]="subsection.isFirstSection" [inline]="true" class="subsection__navigation__icon">chevron_left</mat-icon>
      <mat-icon (click)="goToHome()" [inline]="true" class="subsection__navigation__icon subsection__navigation__icon__home">home</mat-icon>
      <mat-icon (click)="goToNextSubsection()" [class.subsection__navigation__icon__disabled]="subsection.isLastSection" [inline]="true" class="subsection__navigation__icon"[inline]="true" class="subsection__navigation__icon">chevron_right</mat-icon>
    </div>
  </div>


</div>

