.subsection {
  padding: 24px 10% 48px 5%;

  &__title {
    font-size: 36px;
    text-align: center;
    display: block;
    margin: 24px auto auto auto;
  }

  &__paragraph {
    p {
      font-size: 18px;
      white-space: pre-wrap;
    }
    img {
      display: block;
      margin: 24px auto 24px auto;
      max-height: 450px;
    }
  }

  &__footer {
    iframe {
      display: block;
      margin: 24px auto 24px auto;
    }

    li {
      font-size: 18px;
    }
  }
  &__navigation {
    margin: auto;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 95%;

    right: 40%;
    @media (max-width: 1700px) {
      right: 35%;
    }

    @media (max-width: 1400px) {
      right: 30%;
    }
    @media (max-width: 1000px) {
      right: 25%;
    }

    &__icon {
      font-size: 36px;
      cursor: pointer;
      color: rgb(255, 64, 129, 1);
      &__home {
        font-size: 32px;
      }
      &__disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}
