<div class="home">

  <div class="home__search-bar-container">
    <byoc-search-bar></byoc-search-bar>
  </div>

  <div class="home__sections-container">

    <div class="home__sections-container__section">


      <mat-card class="home__sections-container__card" [routerLink]="'/section/1/subsection/1'">
        <mat-card-title-group>
          <mat-card-title>1. Choosing Parts</mat-card-title>
          <mat-card-subtitle> Function and compatability</mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="home__sections-container__list">
            <li [routerLink]="'/section/1/subsection/1'">Case</li>
            <li [routerLink]="'/section/1/subsection/2'">Motherboard</li>
            <li [routerLink]="'/section/1/subsection/3'">CPU</li>
            <li [routerLink]="'/section/1/subsection/4'">RAM Memory</li>
            <li [routerLink]="'/section/1/subsection/5'">Cooler</li>
          </ul>
          <ul class="home__sections-container__list">
            <li [routerLink]="'/section/1/subsection/6'">HD e SSD</li>
            <li [routerLink]="'/section/1/subsection/7'">Power Supply</li>
            <li [routerLink]="'/section/1/subsection/8'">Graphics Card</li>
            <li [routerLink]="'/section/1/subsection/9'">Peripherals</li>
            <li [routerLink]="'/section/1/subsection/10'">Monitor</li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="home__sections-container__card" [routerLink]="'/section/2/subsection/1'">
        <mat-card-title-group>
          <mat-card-title>2. Buying Parts</mat-card-title>
          <mat-card-subtitle>Pricing and tips </mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="home__sections-container__list">
            <li [routerLink]="'/section/2/subsection/1'">Prices</li>
            <li [routerLink]="'/section/2/subsection/2'">Stores</li>
            <li [routerLink]="'/section/2/subsection/3'">Tips</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="home__sections-container__section">

      <mat-card class="home__sections-container__card" [routerLink]="'/section/3/subsection/1'">
        <mat-card-title-group>
          <mat-card-title>3. Building </mat-card-title>
          <mat-card-subtitle>Installation and construction</mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="home__sections-container__list">
            <li [routerLink]="'/section/3/subsection/1'">Motherboard</li>
            <li [routerLink]="'/section/3/subsection/2'">CPU</li>
            <li [routerLink]="'/section/3/subsection/3'">RAM Memory</li>
            <li [routerLink]="'/section/3/subsection/4'">Cooler</li>
            <li [routerLink]="'/section/3/subsection/5'">Power Supply</li>
          </ul>
          <ul class="home__sections-container__list">
            <li [routerLink]="'/section/3/subsection/6'">HD and SSD</li>
            <li [routerLink]="'/section/3/subsection/7'">Graphics Card</li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="home__sections-container__card" [routerLink]="'/section/4/subsection/1'">
        <mat-card-title-group>
          <mat-card-title>4. Post Built</mat-card-title>
          <mat-card-subtitle>Software, operational systems and drivers.</mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-content>
          <ul class="home__sections-container__list">
            <li [routerLink]="'/section/4/subsection/1'">Windows</li>
            <li [routerLink]="'/section/4/subsection/2'">Linux</li>
            <li [routerLink]="'/section/4/subsection/3'">Drivers</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
