.byoc-search-bar {
  &__form {
    @media (max-width: 1400px) {
      width: 600px;
    }
    width: 1300px;
  }

  &__icon {
    margin-right: 16px;
  }

  &__textarea {
    height: 20px;
    resize: none;
  }
}
